{% extends 'base.html' %}

{% block content %}
<div class="container">
<form method="POST">

    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.email.label(class="mt-2") }} {{ form.email(class="form-control") }}
          <small id="emailHelp" class="form-text text-muted">kindly fill in your email.</small>
        </div>

    <div class="form-group">
        {{ form.username.label(class="mt-2") }} {{ form.username(class="form-control") }}
          <small id="usernameHelp" class="form-text text-muted">kindly fill in your username.</small>
    </div>
    <div class="form-group">
        {{ form.password.label(class="mt-2") }} {{ form.password(class ="form-control") }}
          <small id="passwordHelp" class="form-text text-muted">passwords are essential for authentication,kindly fill in yours.</small>
    </div>
 <div class="form-group">
    {{ form.confirm_password.label(class="mt-2") }} {{ form.confirm_password(class="form-control")}}
       <small id="confirmpasswordHelp" class="form-text text-muted">kindly confirm your password.</small>
 </div>
<div class="form-group">
  {{ form.submit(class="btn btn-success") }}
</div>
</form>

</div>

{% endblock %}